a, a:active, a:visited, a:focus {
    text-decoration:none;
    color: #FFE15E;
}
a:hover {
  color: #3599BB;
}

body {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

section {
  /* color: white; */
  scroll-snap-align: start;

}
.background {
  background: #FF6C2F;
}

.img-thumbnail {
  border: 0;
  border-radius: 0;
  padding: 0;
}

.text {
  color: #FFE15E;
}

.navs {
  font-size: 1.6em;
}

title{
  color: #FFE15E;
}